*.a
.obj/
tests/bjson.so
examples/test_fib
examples/*.so
examples/hello
examples/hello_module
examples/hello.exe
examples/test_fib.exe
microbench*.txt
qjs
qjs.exe
qjs-debug
qjs-debug.exe
qjsc
qjsc.exe
host-qjsc
qjscalc
qjscalc.c
run-test262
run-test262.exe
run-test262-debug
run-test262-debug.exe
test262
test262_*.txt
test262o
test262o_*.txt
unicode
unicode_gen
run_octane
run_sunspider_like
libwinpthread*.dll
